* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    align-items: center;
    transition: all 0.3s ease;

}

body {
    background-image: url(./imgs/greenhouse_plants_green.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {

    color: #e3b43d;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

.logo_image {
    width: 5%;

    position: absolute;
    left: 35%;
}

.logo_heading {
    padding-top: 1rem;
    padding-left: 1rem;

}

.navbar {
    opacity: 0.9;
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
    z-index: 999;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}

.navbar_container {
    top: 100px;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto 0 0;
}

.navbar_list {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    list-style: none;
    transition: all 0.3s ease;
}

.navbar_list_item {
    margin: 0 1rem;
    display: block;
    color: #041e41;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

.navbar_list_item:hover {
    color: #e3b43d;
    font-size: larger;
    transition: all 0.3s ease;

}

.hero_container {

    height: 700px;
}

.hero_text {
    font-style: italic;
    font-size: 3.5rem;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yellow_box_bkg {
    opacity: 0.9;
    height: 200px;
    width: 400px;
    background-color: #e3b43d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.yellow_box_bkg:hover {


    background-color: #041e41;

}

.first_body_bkg {

    max-width: 100%;
    min-height: 100%;
}

.first_separator {
    height: 600px;
    background-color: #041e41;
    text-align: center;

}

.first_separator_title {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 400;
    padding: 2rem 5rem;
}

.welcome_container {
    margin: 10%;

    padding: 10px;
    font-size: larger;
    color: #ffffff;
}

.second_body {

    height: fit-content;

}

.about_title {
    display: inline;
    color: black;
}

.about_text {
    font-size: larger;
    text-align: center;
    color: #000000;
    padding: 10px;
    background-color: white;
    width: 60%;
    margin: 0 auto;
}

.about_container {

    width: min-content;
    margin: 10px auto;

}

.photos {

    margin: 10px;


}

.slogan_container {
    opacity: 0.9;
    background-color: #e3b43d;
    padding: 1% 1%;
    margin: auto;
    font-weight: 300;
    width: 40%;
    height: 100px;
    transition: all 0.3s ease;
    text-align: center;

}

.slogan_container:hover {

    background-color: #041e41;
    width: 100%;
}

.slogan_text {

    font-style: italic;
    font-size: 4em;
    font-weight: 400;
    color: #ffffff;
}




.third_body {

    height: 35rem;
    background-color: #ffffff;

}

.third_body_container {
    padding-top: 10%;
    margin: 0 20%;

}

#slogan_container_three {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.third_body_text {
    font-size: larger;
    text-align: center;
    border: #e3b43d;


}

.fourth_body {
    background-color: #041e41;
    height: 20rem;

}
